@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.navbar {
    width: 100%;
    /* padding-top: 20px; */
    margin-top: -55px;
    height: 77px;

}

img{
    width: 46px;
}

.form {
    height: 450px;
    max-width: 300px;
    position: relative;
    left: auto;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 20px;
    padding-left: 15px;
    margin-left: 15%;
    align-items: center !important;
}

#avatar {
    width: 46px;
    height: auto;
    width: auto\9;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 35%;
}

#loginIllus {
    width: 100%;
    max-height: 400px;
}

.boxLogIn {
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 25px;
}

.inputBox {
    min-width: 250px;
}

.btn-primary {
    margin-left: 31px;
    margin-top: 0px;
    background-color: rgb(0, 132, 255) !important;
    width: 100px !important;
 
}

.btn-primary:hover {
    background-color: #ffffff !important;
    border-color: rgb(0, 132, 255) !important;
    color: rgb(0, 132, 255) !important;
}

